@mixin reset {
  padding: 0;
  margin: 0;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin title ($font-family, $size, $height, $weight, $color) {
  font-family: $font-family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

@mixin anons ($font-family, $size, $height, $weight, $color) {
  font-family: $font-family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

@mixin text-pointer ($size, $height, $weight, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

@mixin text ($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin button ($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin position-center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
